<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Article List</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body>
<table id="article-table" class="display">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Publish Date</th>
        <th>URL</th>
    </tr>
    </thead>
</table>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#article-table').DataTable({
            "ajax": {
                "url": "/articles",
                "dataSrc": ""
            },
            "columns": [
                { "data": "id" },
                { "data": "title" },
                { "data": "pubDate" },
                { "data": "url" }
            ]
        });
    });
</script>
</body>
</html>
